body {
    background-color: white
     (242, 242, 238);
}

.image{
    border: 10px dashed lightskyblue;
    border-radius: 10px;
    height: 500px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}