body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: #3399FF;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #acabab;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}