body {
    background-color: white;
}

.image{
    border: 10px dashed lightskyblue;
    border-radius: 10px;
    height: 500px;
}

.link-button {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: #3399FF;
    padding: 5px;
    border-radius: 5px;

    box-shadow: 2px 3px #acabab;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

#bluepar{
    background-color: rgb(5, 5, 106);
    color: white

}